/* Footer */

footer {
  background-color: #444444;
  padding: 10px;
}

footer .py-logo {
  width: 45px;
  height: 45px;
  font-size: 20px;
}

footer .py-social-icons {
  display: flex;
  list-style-type: none;
}

footer .py-social-icons li {
  margin-left: 15px;

}

footer .py-social-icons li a {
  color: #ffffff;
  display: flex;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

footer .py-social-icons li a:hover {
  opacity: .7;

}
