<ul id="py-gallery">
  <li> <img src="../../../assets/images/galery/img1.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img7.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img8.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img5.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img9.jpg" alt=""> </li>


  <li> <img src="../../../assets/images/galery/img2.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img9.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img1.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img5.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img6.jpg" alt=""> </li>

  <li> <img src="../../../assets/images/galery/img6.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img10.jpg" alt=""></li>
  <li> <img src="../../../assets/images/galery/img1.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img2.jpg" alt=""> </li>
  <li> <img src="../../../assets/images/galery/img9.jpg" alt=""> </li>

</ul>
