<header>
  <!-- Navegación principal -->
  <nav>
    <div class="py-container py-align-center">
      <a href="" class="py-logo">Py!</a>
      <ul class="py-navigation">
        <li> <a href="#"> Home </a> </li>
        <li> <a href="#py-about"> Sobre nosotros </a> </li>
        <li> <a href="#py-gallery"> Galería </a> </li>
        <li> <a href="#py-testimonials"> Testimonios </a> </li>
        <li> <a href="#py-contact"> Contacto </a> </li>
      </ul>
    </div>

  </nav>

  <!-- Contenido del header -->


  <section class="py-header-content">
    <div class="py-header-text">
      <h1 class="py-pulsate"> ¡Viva el código! </h1>
      <i class="py-arrow"></i>
    </div>
    <img class="py-main-banner" src="../../../assets/images/computer.jpg" alt="banner">
  </section>

</header>
