<section id="py-about" class="py-container py-section">
  <h3>Sobre nosotros</h3>

  <div class="py-column">
    <i class="icon-trophy"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus diam id ex euismod, a porttitor metus
      aliquam. Maecenas sed euismod elit. Quisque feugiat maximus consectetur.</p>
  </div>
  <div class="py-column">
    <i class="icon-leaf"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus diam id ex euismod, a porttitor metus
      aliquam. Maecenas sed euismod elit. Quisque feugiat maximus consectetur.</p>
  </div>
  <div class="py-column">
    <i class="icon-rocket"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus diam id ex euismod, a porttitor metus
      aliquam. Maecenas sed euismod elit. Quisque feugiat maximus consectetur.</p>
  </div>
  <div class="py-column">
    <i class="icon-briefcase"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus diam id ex euismod, a porttitor metus
      aliquam. Maecenas sed euismod elit. Quisque feugiat maximus consectetur.</p>
  </div>
</section>
