<section id="py-testimonials" class="py-section">
  <h3>Testimonios</h3>

  <div class="py-testimonials">
    <ul>
      <li>
        <div class="py-user-data">
          <img src="../../../assets/images/user/us1.jpg" alt="">
          <span class="py-user-name">Prueba uno</span>
        </div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in facilisis turpis, non fermentum
          tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit pharetra nulla, a elementum ex
          venenatis nec. Praesent eleifend in nibh euismod finibus. Fusce fringilla augue ut odio scelerisque, vitae
          rhoncus felis elementum. Cras iaculis posuere maximus." </p>
      </li>
      <li>
        <div class="py-user-data">
          <img src="../../../assets/images/user/us1.jpg" alt="">
          <span class="py-user-name">Prueba dos</span>
        </div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in facilisis turpis, non fermentum
          tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit pharetra nulla, a elementum ex
          venenatis nec. Praesent eleifend in nibh euismod finibus. Fusce fringilla augue ut odio scelerisque, vitae
          rhoncus felis elementum. Cras iaculis posuere maximus. "</p>
      </li>
      <li>
        <div class="py-user-data">
          <img src="../../../assets/images/user/us1.jpg" alt="">
          <span class="py-user-name">Prueba tres</span>
        </div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in facilisis turpis, non fermentum
          tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit pharetra nulla, a elementum ex
          venenatis nec. Praesent eleifend in nibh euismod finibus. Fusce fringilla augue ut odio scelerisque, vitae
          rhoncus felis elementum. Cras iaculis posuere maximus. "</p>
      </li>
    </ul>

    <i id="py-testimonials-prev" class="py-arrow  aw-arrow-left"></i>
    <i id="py-testimonials-next" class="py-arrow  aw-arrow-right"></i>
  </div>

</section>
