/* You can add global styles to this file, and also import other style files */
@import 'fonts.css';

body{
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

a{
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 700%;
  font-weight: lighter;
}

h3 {
   width: 100%;
   margin-top: 0;
   font-size: 40px;
   text-align: center;

}
h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.py-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.py-section {
  padding: 100px 0;
}


.py-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
  width: 60px;
  height: 60px;
  /*text-align: center;*/
  border: solid 2px #fff;
  /*line-height: 60px;*/
  border-radius: 100%;
  color: white;
}
